.event {
    cursor: pointer;
}
.list-group-item a {
    cursor: pointer;
}
.list-group-item.active a {
    cursor: default;
}
.form-label{
    min-height: 42px;
}
/*.page{
    margin-bottom: 50px;
}
footer.footer{
    position: fixed;
    width:  100%;
    bottom:  0;
    z-index: 3;
}*/
.chatbox {
    position: fixed;
    right: 2px;
    bottom: 10px;
    box-shadow: 5px 0px 25px 0px #888888;
    z-index: 4;
    max-width: 350px;
}
.msg-contacts {

}
.msg-contacts .users-close{
    position: relative;
    right: -7px;
}
.msg-contacts .list-group{
    height: 700px;
    overflow-x:  auto;
}
.msg-box.card{
    margin-bottom: 0px;
    width: 300px;
    border: #6292d6;
    box-shadow: 5px 0px 25px 0px #888888;
}
.msg-box .card-header{
    min-height: 0;
    background-color: #6292d6;
    color: white;
}
.msg-box .card-body {
    height: 360px;
    overflow-x: auto;
}
.msg-box .chat-close{
    font-size: 20px;
    color: white;
}
.chatbox .box-ctn{
    position: fixed;
    right: 287px;
    bottom: 10px;
}

/*----------------------------*/

.box-content{
    list-style: none;
    margin: 0;
    padding: 0;
}
.box-content li{
    display:inline-block;
    clear: both;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 2px;
    max-width: 350px;
}
.him{
    background: #eee;
    float: left;
    margin-left:8px;
}
.me{
    float: right;
    background: #0084ff;
    color: #fff;
    margin-right:8px;
}
.him + .me{
    border-bottom-right-radius: 5px;
}
.him + .him{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.me + .me{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.me:last-of-type {
    border-bottom-right-radius: 30px;
}

/* --------------login--------------*/

.login-ctn {
    overflow: hidden;
}
.login-ctn form {
    animation-duration: 1s;
}
.project-item-content{
    height:  330px;
    overflow-x:  auto;
}

/*-----------------Contact------------------*/
.contact-body{
    height: 500px;
}