{{define "user_profile"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Your profile"}}
    <link href="/public/assets/css/select2.min.css" rel="stylesheet" />
    <script src="/public/assets/js/select2.min.js" type="text/javascript" ></script>
    <script src="/public/assets/js/jquery.validate.min.js"></script>
    <style>
        #contact-container tr:first-child td{
            border-top-color: #fff;
        }
    </style>
</head>
<body>
<div class="page">
    <div class="page-main">
    {{template "head_menu" .user}}
        <div class="my-3 my-md-5">
            <div class="container">
                <h3>Please tell us about yourself so we can help you find a project to work on.</h3>
                <div class="row">
                    <div class="col-12">
                        <form id="profileForm" method="post" action="/user/profile" class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label class="form-label col-3">What is your name?</label>
                                        <div class="input-group col-9 p-0">
                                            <input class="form-control" type="text" name="DisplayName" id="DisplayName" value="{{.user.DisplayName}}">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-label" style="min-height: 21px;">How should we contact you?</div>
                                        <div class="table-responsive">
                                            <table class="table mb-3">
                                                <tbody id="contact-container">
                                                {{range $contact,$value := index $.contactMethod}}
                                                {{if ne $contact ""}}
                                                <tr>
                                                    <td style="width: 268px"><label>{{$contact}}</label></td>
                                                    <td><input class="form-control" type="text" name="Contact" data-key="{{$contact}}" value="{{$value}}" placeholder="Your ID"></td>
                                                    <td><a class="event text-dark remove-contact" >Delete</a></td>
                                                </tr>
                                                {{end}}
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary ml-auto">
                                {{if $.isFirst}}Submit{{else}}Update{{end}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/html" id="contact-content">
        <tr>
            <td style="width: 300px">
                <select class="form-control" name="ContactKey" placeholder="Contact method">
                {{range $id,$val := index $.contactMethods}}
                    <option value="{{$val.Value}}">{{$val.Value}}</option>
                {{end}}
                </select>
            </td>
            <td><input class="form-control" type="text" name="ContactNew" placeholder="Your ID"></td>
            <td><a class="event text-dark remove-contact" >Delete</a></td>
        </tr>
    </script>
    <script type="text/javascript">
        const contactMethods = {{.contactMethods}}
    </script>
    <script src="/public/js/user/profile.js" type="text/javascript" ></script>
{{template "footer"}}
</div>
</body>
</html>
{{end}}