{{define "demo_access"}}
    <!doctype html>
    <html lang="en" dir="ltr">
    <head>
        {{template "head_lib" "Home"}}
        <style>
            .f-in{
                -webkit-animation-name: goIn;
                -webkit-animation-duration: 1s;
                -moz-animation-name: goIn;
                -moz-animation-duration: 1s;
                -o-animation-name: goIn;
                -o-animation-duration: 1s;
                animation-name: goIn;
                animation-duration: 1s;
            }
            .f-out{
                -webkit-animation-name: goOut;
                -webkit-animation-duration: 1s;
                -moz-animation-name: goOut;
                -moz-animation-duration: 1s;
                -o-animation-name: goOut;
                -o-animation-duration: 1s;
                animation-name: goOut;
                animation-duration: 1s;
                top: -700px
            }
        </style>
    </head>
    <body>

         {{if .access }}
            <div class="page">
                <div class="page-single">
                    <div class="container">
                        <div class="row">
                             <div class="page-main">
                                 <div class="my-3 my-md-5">
                                     <div class="container">
                                         <h3 style="text-align: center">Hello World</h3>
                                     </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
         {{else}}
             <div class="page" style="background: #000000">
                 <div class="page-single">
                     <div class="container">
                         <div class="row">
                             <div class="col col-login mx-auto login-ctn">
                                 <div class="card-body p-6">
                                     <div class="form-group">
                                         <input type="text" name="access_code" class="form-control" placeholder="Please enter your access code">
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         {{end}}

    <script type="text/javascript">
        (function () {
            $('input[name="access_code"]').keypress(function (e){
                if (e.which == 13){
                    var access = $('input[name=access_code]').val();
                    if(!access){
                        alert("Please enter access code");
                    }
                    $.ajax({
                        url: '/auth/check-access-code',
                        method: 'post',
                        data: {
                            access_code: $('input[name=access_code]').val(),
                        },
                        success: function (_d) {
                            if (_d.status == 1) {
                                location.reload()
                            }else {
                                toastr.error(xhr.responseJSON.error,"Login fail")
                            }
                        },
                        error: function (xhr) {
                            toastr.error("Access code is invaild","Login fail")
                        }
                    })
                }
            });

        })();
    </script>

    </body>
    </html>
{{end}}