{{define "head_lib"}}
<title>{{.}}</title>
<link href="/public/assets/css/dashboard.css" rel="stylesheet" />
<link href="/public/assets/css/toastr.min.css" rel="stylesheet" />
<link href="/public/assets/css/fontawesome.min.css" rel="stylesheet" />
<link href="/public/css/style.css" rel="stylesheet" />
<script src="/public/assets/js/vue.js"></script>
<script src="/public/assets/js/jquery-3.2.1.min.js"></script>
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/toastr.min.js"></script>
<script src="/public/assets/js/socket.js"></script>
<script src="/public/js/main.js"></script>
{{end}}

{{define "head_menu"}}
<script type="text/javascript">
    var userId = {{$.ID}}
</script>
<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" href="/admin">
                <i class="fe fe-code"></i> SUPPORT MANAGEMENT SYSTEM
            </a>
            <div class="d-flex order-lg-2 ml-auto">
            {{if eq $.ID 0}}
                <div class="nav-item d-none d-md-flex">
                    <a href="/auth/login" class="btn btn-sm btn-outline-primary mr-2">Login</a>
                    <a href="/auth/register" class="btn btn-sm btn-outline-primary">Register</a>
                </div>
            {{else}}
                <div class="dropdown">
                    <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                        <span class="ml-2 d-none d-lg-block{{if ne $.Role 1}} mt-2{{end}}">
                            <span class="text-default">{{$.Display}}
                                <i class="fe fe-chevron-down" data-toggle="tooltip" title="fe fe-chevron-down"></i>
                            </span>
                        {{if eq $.Role 1}}
                            <small class="text-muted d-block mt-1">Administrator</small>
                        {{end}}
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                        {{/*<a class="dropdown-item" href="/user/settings">
                            <i class="dropdown-icon fe fe-settings"></i> Settings
                        </a>*/}}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/auth/logout">
                            <i class="dropdown-icon fe fe-log-out"></i> Sign out
                        </a>
                    </div>
                </div>
            {{end}}
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
{{if ne $.ID 0}}
<div class="header d-lg-flex p-0 collapse" id="headerMenuCollapse" style="">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                {{if eq $.Role 1}}
                  {{/*  <li class="nav-item">
                        <a href="/admin/access" class="nav-link">Access</a>
                    </li>*/}}

                {{else}}
                {{end}}
                   {{/* <li class="nav-item">
                        <a href="/user/profile" class="nav-link"><i class="fe fe-user"></i> Profile</a>
                    </li>*/}}
                    {{/*<li class="nav-item pr-5">
                        <span class="badge badge-info mt-4" id="unreadContactCount"></span>
                        <a href="/contacts" class="nav-link">Contacts</a>
                    </li>*/}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{end}}
{{end}}

{{define "footer"}}
<div id="chatbox"></div>
<footer class="footer">
    <div class="container">
        <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
            Copyright © 2019
        </div>
    </div>
</footer>
{{end}}

