{{define "auth_login"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Home"}}
    <style>
        .f-in{
            -webkit-animation-name: goIn;
            -webkit-animation-duration: 1s;
            -moz-animation-name: goIn;
            -moz-animation-duration: 1s;
            -o-animation-name: goIn;
            -o-animation-duration: 1s;
            animation-name: goIn;
            animation-duration: 1s;
        }
        .f-out{
            -webkit-animation-name: goOut;
            -webkit-animation-duration: 1s;
            -moz-animation-name: goOut;
            -moz-animation-duration: 1s;
            -o-animation-name: goOut;
            -o-animation-duration: 1s;
            animation-name: goOut;
            animation-duration: 1s;
            top: -700px
        }
    </style>
</head>
<body>
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto login-ctn">
                    <form class="card" id="loginForm" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Log in </div>
                            <div class="form-group">
                                <label class="form-label">User name</label>
                                <input type="text" name="UserName" class="form-control" placeholder="Your user name">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Password
                                {{/*<a href="./forgot-password.html" class="float-right small">I forgot password</a>*/}}
                                </label>
                                <input type="password" class="form-control" name="Password" placeholder="Password">
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </div>
                        </div>
                    </form>
                    <form class="card f-out" id="repeatPassword" style="display: none;" method="post">
                        <div class="card-body p-6">
                            <div class="card-title">Confirm Password</div>
                            <p class="text-muted">You have not created an account yet. Please confirm your password so we will create new acount for you</p>
                            <div class="form-group">
                                <input type="password" name="password" class="form-control" placeholder="Repeat your password">
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        const h = window.innerHeight - 32,
                top = (h-300)/2 - 10;
        $('.login-ctn').css('height',h + 'px');
        $('#loginForm,#repeatPassword').css('top',top + 'px');
        var style = document.createElement('style');
        style.type = 'text/css';
        var keyFrames = `
        @keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }
        @-webkit-keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }
        @-moz-keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }
        @-o-keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }

        @keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }
        @-webkit-keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }
        @-moz-keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }
        @-o-keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }`;
        style.innerHTML = keyFrames;
        document.getElementsByTagName('head')[0].appendChild(style);
        window.goNext = function () {
            $('#loginForm').removeClass('f-in');
            $('#loginForm').addClass('f-out');
            $('#repeatPassword').show();
            $('#repeatPassword').addClass('f-in');
            $('#repeatPassword').removeClass('f-out');
            setTimeout(() => {
                $('#loginForm').hide();
        },999)
        }
    })();
</script>
<script src="/public/js/starter.js"></script>
</body>
</html>
{{end}}