{{define "auth_login_access"}}
    <!doctype html>
    <html lang="en" dir="ltr">
    <head>
        {{template "head_lib" "Home"}}
        <style>
            .f-in{
                -webkit-animation-name: goIn;
                -webkit-animation-duration: 1s;
                -moz-animation-name: goIn;
                -moz-animation-duration: 1s;
                -o-animation-name: goIn;
                -o-animation-duration: 1s;
                animation-name: goIn;
                animation-duration: 1s;
            }
            .f-out{
                -webkit-animation-name: goOut;
                -webkit-animation-duration: 1s;
                -moz-animation-name: goOut;
                -moz-animation-duration: 1s;
                -o-animation-name: goOut;
                -o-animation-duration: 1s;
                animation-name: goOut;
                animation-duration: 1s;
                top: -700px
            }
        </style>
    </head>
    <body>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto login-ctn">
                        <form class="card" id="accessCode" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Please enter access code </div>
                                <div class="form-group">
                                    <input type="text" name="access_code" class="form-control" placeholder="Your access code">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Next</button>
                                </div>
                            </div>
                        </form>
                        <form class="card  f-out" id="loginForm" style="display: none" method="post">
                            <div class="card-body p-6">
                                <div class="card-title">Please information</div>
                                <div class="form-group">
                                    <label class="form-label">UserName</label>
                                    <input type="text" name="UserName" class="form-control" placeholder="Your user name">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">
                                        Password
                                        {{/*<a href="./forgot-password.html" class="float-right small">I forgot password</a>*/}}
                                    </label>
                                    <input type="password" class="form-control" name="Password" placeholder="Password">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            const h = window.innerHeight - 32,
                top = (h-300)/2 - 10;
            var style = document.createElement('style');
            style.type = 'text/css';
            var keyFrames = `
        @keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }
        @-webkit-keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }
        @-moz-keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }
        @-o-keyframes goIn {
            from {top: ${window.innerHeight + 400}px;}
            to {top: ${top-390}px;}
        }

        @keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }
        @-webkit-keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }
        @-moz-keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }
        @-o-keyframes goOut {
            from {top: ${top}px;}
            to {top: -700px;}
        }`;
            style.innerHTML = keyFrames;
            document.getElementsByTagName('head')[0].appendChild(style);
            window.goNextAcess = function () {
                $('#accessCode').removeClass('f-in');
                $('#accessCode').addClass('f-out');
                $('#loginForm').show();
                $('#loginForm').addClass('f-in');
                $('#loginForm').removeClass('f-out');
                setTimeout(() => {
                    $('#accessCode').hide();
                }, 999)
            }

        })();
    </script>
    <script src="/public/js/auth/access.js"></script>
    </body>
    </html>
{{end}}