{{define "admin_access"}}
    <!doctype html>
    <html lang="en" dir="ltr">
    <head>
        {{template "head_lib" "List access code"}}
    </head>
    <body>
    <div class="page">
        <div class="page-main">
            {{template "head_menu" .user}}
            <div class="my-3 my-md-5">
                <div class="container">
                    <h2>Access Code</h2>
                    <div class="row" id="access-cpt">

                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
        <script src="/public/js/admin/access.js"></script>
    </div>
    </body>
    </html>
{{end}}