{{define "admin_access_logs"}}
    <!doctype html>
    <html lang="en" dir="ltr">
    <head>
        {{template "head_lib" "Logs access"}}
    </head>
    <body>
    <div class="page">
        <div class="page-main">
            {{template "head_menu" .user}}
            <div class="my-3 my-md-5">
                <div class="container">
                    <h2>Logs</h2>
                    <div class="card">
                        <div class="card-body">
                            <div class="col-12">
                                <table class="table card-table table-striped table-vcenter">
                                    <thead>
                                    <tr>
                                        <th>Visited</th>
                                        <th>Created At </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {{range $val := .logs}}
                                        <tr>
                                            <td>{{$val.Count}}</td>
                                            <td>{{$val.CreatedAt.Format "2006-01-02"}}</td>
                                        </tr>
                                    {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{template "footer"}}
    </div>
    </body>
    </html>
{{end}}