{{define "demo"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Home"}}
</head>
<body>
<div class="page">
    <div class="page-main">
    {{template "head_menu" .user}}
        <div class="my-3 my-md-5">
            <div class="container">
                <h3>Hello World</h3>
            </div>
        </div>
    </div>
{{template "footer"}}
</div>
</body>
</html>
{{end}}