{{define "admin_options"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Options manager"}}
</head>
<body>
<div class="page">
    <div class="page-main">
    {{template "head_menu" .user}}
        <div class="my-3 my-md-5">
            <div class="container">
                <h2>Option manager</h2>
                <div class="row">
                    <div class="col-3" id="types-ctn">
                        <ul class="list-group" id="listOption">
                            <li class="list-group-item active" data-type="ContactMethod"><a>Contact Method</a></li>
                            <li class="list-group-item" data-type="Categories"><a>Case Categories</a></li>
                        {{/*<li class="list-group-item" data-type="Currencies"><a>Currencies</a></li>
                            <li class="list-group-item" data-type="Languages"><a>Languages</a></li>*/}}
                        </ul>
                    </div>
                    <div class="col-9" id="options-ctn">
                        <options-cpt :options="options" :target="target"></options-cpt>
                    </div>
                </div>
            </div>
            <script src="/public/js/admin/option.js" type="text/javascript" ></script>
        </div>
    </div>
{{template "footer"}}
</div>
</body>
</html>
{{end}}