{{define "admin_userView"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "View user"}}
<link href="/public/assets/css/select2.min.css" rel="stylesheet" />
<script src="/public/assets/js/select2.min.js" type="text/javascript" ></script>
<style>
    .form-label {
        min-height: 21px;
    }
    #contact-container tr:first-child td{
        border-top-color: #fff;
    }
</style>
</head>
<body>
<div class="page">
    <div class="page-main">
    {{template "head_menu" .user}}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        Profile: {{$.viewUser.Display}}
                    </h1>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Basic Information</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label class="form-label col-3">User ID</label>
                                        <label class="col-9">{{.viewUser.ID}}</label>
                                    </div>
                                    <div class="form-group col-12">
                                        <label class="form-label col-3">User name</label>
                                        <label class="col-9">{{.viewUser.UserName}}</label>
                                    </div>
                                    <div class="form-group col-12">
                                        <label class="form-label col-3">Display Name</label>
                                        <label class="col-9">{{.viewUser.DisplayName}}</label>
                                    </div>
                                    <div class="form-group col-12">
                                        <div class="form-label col-3">Contacts method:</div>
                                        <div class="table-responsive col-9">
                                            <table class="table mb-0">
                                                <tbody id="contact-container">
                                                {{range $method,$id := index $.viewUser.Contacts}}
                                                {{if ne $method ""}}
                                                <tr>
                                                    <td><label>{{$method}}</label></td>
                                                    <td><label class="col-9">{{$id}}</td></td>
                                                </tr>
                                                {{end}}
                                                {{end}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <form class="card" id="formCtrlUser">
                            <div class="card-header">
                                <h3 class="card-title">Manage</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-label">Role</label>
                                            <select name="Role" id="Role" class="form-control">
                                                <option value="0">Customer</option>
                                                <option value="2" {{if eq $.viewUser.Role 2}}selected{{end}}>Support Rep</option>
                                                <option value="1" {{if eq $.viewUser.Role 1}}selected{{end}}>Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary ml-auto">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var viewUser = {{$.viewUser}}
    </script>
    <script src="/public/js/admin/user_view.js"></script>
{{template "footer"}}
</div>
</body>
</html>
{{end}}