{{define "admin_user"}}
<!doctype html>
<html lang="en" dir="ltr">
<head>
{{template "head_lib" "Users manager"}}
</head>
<body>
<div class="page">
    <div class="page-main">
    {{template "head_menu" .user}}
        <div class="my-3 my-md-5">
            <div class="container">
                <h2>User manager</h2>
                <div class="row" id="user-ctn"></div>
            </div>
        </div>
    </div>
    {{template "footer"}}
    <script src="/public/js/admin/users.js"></script>
</div>
</body>
</html>
{{end}}